
/* BIO DEFAULT */

#bio-header, #interests {
    width: calc(var(--multiplier) * 120);
    height: calc(var(--multiplier) * 6);
    background-color: transparent;
    /* color: rgba(0, 255, 255, 0.5);
    box-shadow: 0px 0px 3px rgba(0, 255, 255, 0.5);
    border: 4px solid rgba(127, 255, 255, 0.25); */
}

#bio-header h3,
#interests h3 {
    font-size: calc(var(--multiplier) * 2.5);
    margin: 
        calc(var(--multiplier) * 1.3)
        calc(var(--multiplier) * 2);
}

#bio-main {
    width: calc(var(--multiplier) * 90);
    height: calc(var(--multiplier) * 35);
    background-color: transparent;
    /* color: rgba(0, 255, 255, 0.5);
    box-shadow: 0px 0px 3px rgba(0, 255, 255, 0.5);
    border: 4px solid rgba(127, 255, 255, 0.25); */
}

#bio-main p {
    font-size: calc(var(--multiplier) * 2);
    margin: 
        calc(var(--multiplier) * 2)
        calc(var(--multiplier) * 2);
}

/* #bio-pic {
    box-shadow: 0px 0px 3px rgba(0, 255, 255, 0.5);
    border: 4px solid rgba(127, 255, 255, 0.25);
} */

#interests {
    height: calc(var(--multiplier) * 5);
}

#interests h3 {
    margin: 
        calc(var(--multiplier) * .8)
        calc(var(--multiplier) * 1.5);
}

.bio-button-header {
    font-size: calc(var(--multiplier) * 2);
    margin: 
        calc(var(--multiplier) * 1.3)
        calc(var(--multiplier) * 1)
        calc(var(--multiplier) * 1.3)
        calc(var(--multiplier) * 1.5);
}

.bio-button {
    background-color: transparent;
    /* color: rgba(0, 255, 255, 0.5);
    box-shadow: 0px 0px 3px rgba(0, 255, 255, 0.5);
    border: 4px solid rgba(127, 255, 255, 0.25); */
    height: calc(var(--multiplier) * 3);
    width: calc(var(--multiplier) * 9);
    margin: 
        calc(var(--multiplier) * 0)
        calc(var(--multiplier) * 1.5);
    font-size: calc(var(--multiplier) * 1.4);
}

.interest-cards {
    width: calc(var(--multiplier) * 15.5);
    height: calc(var(--multiplier) * 11);
    /* background-color: transparent;
    color: rgba(0, 255, 255, 0.5);
    box-shadow: 0px 0px 3px rgba(0, 255, 255, 0.5);
    border: 4px solid rgba(127, 255, 255, 0.25); */
    transition: font-size 1s, margin 1s, width 1s;
}

.interest-selected {

    width: calc(var(--multiplier) * 18.5);
    margin-left: calc(var(--multiplier) * 1.5);
}

.interest-selected button {
    pointer-events: none;
}

#bio-navi {
    width: calc(var(--multiplier) * 94);
    height: calc(var(--multiplier) * 5);
    background-color: transparent;
    /* color: rgba(0, 255, 255, 0.5);
    box-shadow: 0px 0px 3px rgba(0, 255, 255, 0.5);
    border: 4px solid rgba(127, 255, 255, 0.25); */
}

/* BIO DEFAULT STARTING INTEREST - TRAVEL */
.slide-1 img,
.slide-2 img,
.slide-3 img {
    max-width: calc(var(--multiplier) * 30.7);
    max-height: calc(var(--multiplier) * 25);
    /* background-color: transparent;
    color: rgba(0, 255, 255, 0.5);
    box-shadow: 0px 0px 3px rgba(0, 255, 255, 0.5);
    border: 4px solid rgba(127, 255, 255, 0.25); */
}

.uslide-1,
.uslide-2,
.uslide-3 {
    height: calc(var(--multiplier) * 9);
    width: calc(var(--multiplier) * 30.7);
    background-color: transparent;
    /* color: rgba(0, 255, 255, 0.5);
    box-shadow: 0px 0px 3px rgba(0, 255, 255, 0.5);
    border: 4px solid rgba(127, 255, 255, 0.25); */
}

.uslide-1 h3,
.uslide-2 h3,
.uslide-3 h3 {
    margin: 
        calc(var(--multiplier) * .5)
        calc(var(--multiplier) * 1);
        font-size: calc(var(--multiplier) * 1.4);
    /* color: rgba(0, 255, 255, 0.5); */
}

.uslide-1 p,
.uslide-2 p,
.uslide-3 p {
    margin: 
        calc(var(--multiplier) * .25)
        calc(var(--multiplier) * 1);
    font-size: calc(var(--multiplier) * 1.2);
    /* color: rgba(0, 255, 255, 0.5); */
}