
/* BIO DEFAULT */

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: calc(var(--multiplier) * 0.8); /* change this to whatever height you want it */
}

#bio-header, #interests {
    width: calc(var(--multiplier) * 20);
    height: calc(var(--multiplier) * 6);
    background-color: transparent;
    transition: width 1s, height 1s;
    overflow: hidden
}

#bio-header.bioDefault-color-active,
#interests.bioDefault-color-active {
    width: calc(var(--multiplier) * 120);
    height: calc(var(--multiplier) * 6);
}

#bio-header h3,
#interests h3 {
    font-size: calc(var(--multiplier) * 2.5);
    margin: 
        calc(var(--multiplier) * 1.3)
        calc(var(--multiplier) * 2);
}

#bio-main {
    width: calc(var(--multiplier) * 20);
    height: calc(var(--multiplier) * 20);
    background-color: rgba(0, 0, 0, 0.8);
    transition: width 1s, height 1s;
    overflow: hidden;
}

#bio-main.bioDefault-color-active {    
    width: calc(var(--multiplier) * 90);
    height: calc(var(--multiplier) * 35);
}

#bio-main p {
    font-size: calc(var(--multiplier) * 1.45);
    margin: 
        calc(var(--multiplier) * 1.3)
        calc(var(--multiplier) * 2);
}

/* #bio-pic {
    box-shadow: 0px 0px 3px rgba(0, 255, 255, 0.5);
    border: 4px solid rgba(127, 255, 255, 0.25);
} */

#interests h3 {
    margin: 
        calc(var(--multiplier) * .8)
        calc(var(--multiplier) * 1.5);
}

.bio-button-header {
    font-size: calc(var(--multiplier) * 1.75);
    margin: 
        calc(var(--multiplier) * 1.3)
        calc(var(--multiplier) * 1)
        calc(var(--multiplier) * 1.3)
        calc(var(--multiplier) * 1.2);
}

.bio-button {
    font-weight: 600;
    background-color: transparent;
    height: calc(var(--multiplier) * 2.9);
    width: calc(var(--multiplier) * 13);
    margin: 
        calc(var(--multiplier) * 0)
        calc(var(--multiplier) * 1.2);
    font-size: calc(var(--multiplier) * 1.3);
    cursor: pointer;
  color: white;
  border: solid calc(var(--multiplier) * 0.15) white;
}

.interest-cards {
    width: calc(var(--multiplier) * 15.5);
    height: calc(var(--multiplier) * 11);
    transition: font-size 1s, margin 1s, width 1s;
}

.interest-selected {

    width: calc(var(--multiplier) * 18.5);
    margin-left: calc(var(--multiplier) * 1.5);
}

.interest-selected button {
    pointer-events: none;
}

#bio-navi {
    width: calc(var(--multiplier) * 94);
    height: calc(var(--multiplier) * 5);
    background-color: transparent;
}

/* BIO DEFAULT STARTING INTEREST - TRAVEL */
.slide-1 img,
.slide-2 img,
.slide-3 img {
    max-width: calc(var(--multiplier) * 30.7);
    max-height: calc(var(--multiplier) * 25);
}

.uslide-1,
.uslide-2,
.uslide-3 {
    height: calc(var(--multiplier) * 9);
    width: calc(var(--multiplier) * 30.7);
    background-color: transparent;
}

.uslide-1 h3,
.uslide-2 h3,
.uslide-3 h3 {
    margin: 
        calc(var(--multiplier) * .5)
        calc(var(--multiplier) * 1);
        font-size: calc(var(--multiplier) * 1.4);
    /* color: rgba(0, 255, 255, 0.5); */
}

.uslide-1 p,
.uslide-2 p,
.uslide-3 p {
    margin: 
        calc(var(--multiplier) * .25)
        calc(var(--multiplier) * 1);
    font-size: calc(var(--multiplier) * 1.2);
}

#bio-button-up,
#bio-button-down {
    border: none;   
    box-shadow: none;
}

#interests.bioDefault-color-active {
    height: calc(var(--multiplier) * 4.5);
}
