.education-header,
.summary-card {
  width: calc(var(--multiplier) * 40);
  height: calc(var(--multiplier) * 18);
  transition: width 1s, height 1s, margin 1s;
}

.extra,
.degree {
  width: calc(var(--multiplier) * 20);
  height: calc(var(--multiplier) * 5);
  overflow: hidden;
  transition: width 1s, height 1s;
}

#degree.education-main-color-active,
#extra.education-main-color-active {
  width: calc(var(--multiplier) * 122);
  height: calc(var(--multiplier) * 5);
}

.extra h2,
.degree h2 {
  margin: 
  calc(var(--multiplier) * 0.5) 
  calc(var(--multiplier) * 1.5);
  font-size: calc(var(--multiplier) * 3);
}

.summary-card {
  height: calc(var(--multiplier) * 10);
}

#capa, #lax {
  width: calc(var(--multiplier) * 20);
  height: calc(var(--multiplier) * 20);
  overflow: hidden;
  transition: width 1s, height 1s;
}

#capa.education-main-color-active, 
#lax.education-main-color-active {
  width: calc(var(--multiplier) * 81);
  height: calc(var(--multiplier) * 24);
}

.summary-flip {
  height: 100%;
  width: 100%;
  /* cursor: pointer;   */
  transition: transform 1s;
  transform-style: preserve-3d;
}

.summary-flip div {
  height: 100%;
  width: 100%;
  /* cursor: pointer; */
  position: absolute;
  backface-visibility: hidden;
}

.summary-flip .back {
  transform: rotateY(180deg);
}

.summary-flip.flipped {
  transform: rotateY(180deg);
}

#sigep, #mathclub, #econclub {
  width: calc(var(--multiplier) * 40);
  height: calc(var(--multiplier) * 16);
}

.major {
  margin: 
  calc(var(--multiplier) * 1.4) 
  calc(var(--multiplier) * 1) 
  calc(var(--multiplier) * 0) 
  calc(var(--multiplier) * 1.5);
  font-size: calc(var(--multiplier) * 3);
  transition: font-size 1s;
}

.ba,
.club-position {
  margin: 
    calc(var(--multiplier) * -0.3) 
    calc(var(--multiplier) * 1) 
    calc(var(--multiplier) * 0.01) 
    calc(var(--multiplier) * 1.5);
  font-style: italic;
  font-size: calc(var(--multiplier) * 1.5);
  transition: font-size 1s;
}

.college {
  margin: 
    calc(var(--multiplier) * .2) 
    calc(var(--multiplier) * 1) 
    calc(var(--multiplier) * 0) 
    calc(var(--multiplier) * 1.45);
  font-size: calc(var(--multiplier) * 1.6);
  transition: font-size 1s;
}

.club-header {
  margin: 
    calc(var(--multiplier) * 1.5) 
    calc(var(--multiplier) * 1) 
    calc(var(--multiplier) * 0) 
    calc(var(--multiplier) * 1.45);
  font-size: calc(var(--multiplier) * 1.8);
  transition: font-size 1s;
}

.subcollege,
.club-description,
.club-dates {
  margin: 
    calc(var(--multiplier) * 0) 
    calc(var(--multiplier) * 1.45) 
    calc(var(--multiplier) * 0) 
    calc(var(--multiplier) * 1.45);
  font-size: calc(var(--multiplier) * 1.4);
  transition: font-size 1s;
}

.description-back {
  margin: calc(var(--multiplier) * 1.45);
}

.track {
  margin: 
    calc(var(--multiplier) * 0.5) 
    calc(var(--multiplier) * 1) 
    calc(var(--multiplier) * 0.5) 
    calc(var(--multiplier) * 1.45);
  font-size: calc(var(--multiplier) * 1.3);
  transition: font-size 1s;
}

#computer-header .track {
  visibility: hidden;
}

.education-header-active, 
.education-header-selected {
  height: calc(var(--multiplier) * 23);
} 

.education-header-active {
  width: calc(var(--multiplier) * 33);
  margin: 0 0 0 calc(var(--multiplier) * 1.5);

}

.education-header-selected {
  width: calc(var(--multiplier) * 30);
}

.education-header-active>.education-card>.college {
  font-size: calc(var(--multiplier) * 1.9);
}

.education-header-active>.education-card>.ba {
  font-size: calc(var(--multiplier) * 1.7);
}

.education-header-active>.education-card>.subcollege {
  font-size: calc(var(--multiplier) * 1.6);
}

.education-header-active>.education-card>.track {
  font-size: calc(var(--multiplier) * 1.5);
  margin-top: calc(var(--multiplier) * 0.1);
  margin-bottom: calc(var(--multiplier) * 0.1);
}

.education-header-selected>.education-card>.major {
  font-size: calc(var(--multiplier) * 2.1);
}

.education-header-active>#computer-button {
  margin-top: calc(var(--multiplier) * -3.25);
}

#computer-button {
  transition: margin-top 1s;
}

.educ-button {
	font-weight: 600;
  width: calc(var(--multiplier) * 13);
  height: calc(var(--multiplier) * 2.9);
	font-size: calc(var(--multiplier) * 1.3);
  margin: calc(var(--multiplier) * 0.3) calc(var(--multiplier) * 1.5);
  cursor: pointer;
  background: transparent;
  color: white;
  border: solid calc(var(--multiplier) * 0.15) white;
}

