/* EDUCATION HEADER, EDUCATION SUMMARY  */

.education-header,
.summary-card {
  width: calc(var(--multiplier) * 40);
  height: calc(var(--multiplier) * 18);

  box-shadow: 0em 0em calc(var(--multiplier) * 2) rgba(0, 255, 255, 0.5);
  border: 0.2em solid rgba(127, 255, 255, 0.25);
  color: rgba(127, 255, 255, 0.75);
  transition: width 1s, height 1s, margin 1s;
}

.extra,
.degree,
.summary-card {
  width: calc(var(--multiplier) * 121);
  height: calc(var(--multiplier) * 5);

  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 2px solid rgba(127, 255, 255, 0.25);
  color: rgba(127, 255, 255, 0.75);
}

.summary-card {
  height: calc(var(--multiplier) * 10);
}

.major {
  margin: 
  calc(var(--multiplier) * 1.4) 
  calc(var(--multiplier) * 1) 
  calc(var(--multiplier) * 0) 
  calc(var(--multiplier) * 1.5);
  font-size: calc(var(--multiplier) * 3);
  transition: font-size 1s;
}

.ba,
.club-position {
  margin: 
    calc(var(--multiplier) * -0.3) 
    calc(var(--multiplier) * 1) 
    calc(var(--multiplier) * 0.01) 
    calc(var(--multiplier) * 1.5);
  font-style: italic;
  font-size: calc(var(--multiplier) * 1.5);
  transition: font-size 1s;
}

.college,
.club-header {
  margin: 
    calc(var(--multiplier) * .2) 
    calc(var(--multiplier) * 1) 
    calc(var(--multiplier) * 0) 
    calc(var(--multiplier) * 1.45);
  font-size: calc(var(--multiplier) * 1.65);
  transition: font-size 1s;
}

.subcollege,
.club-description,
.club-dates {
  margin: 
    calc(var(--multiplier) * 0) 
    calc(var(--multiplier) * 1) 
    calc(var(--multiplier) * 0) 
    calc(var(--multiplier) * 1.45);
  font-size: calc(var(--multiplier) * 1.4);
  transition: font-size 1s;
}

.track {
  margin: 
    calc(var(--multiplier) * 0.5) 
    calc(var(--multiplier) * 1) 
    calc(var(--multiplier) * 0.5) 
    calc(var(--multiplier) * 1.45);
  font-size: calc(var(--multiplier) * 1.4);
  transition: font-size 1s;
}

#computer-header .track {
  visibility: hidden;
}

.selected-header,
.not-selected-header {
  height: calc(var(--multiplier) * 23);
} 

.selected-header {
  width: calc(var(--multiplier) * 33);
  margin: 0 0 0 calc(var(--multiplier) * 1.5);

}

.not-selected-header {
  width: calc(var(--multiplier) * 30);
}

.selected-header>.education-card>.college {
  font-size: calc(var(--multiplier) * 1.9);
}

.selected-header>.education-card>.ba {
  font-size: calc(var(--multiplier) * 1.7);
}

.selected-header>.education-card>.subcollege {
  font-size: calc(var(--multiplier) * 1.6);
}

.selected-header>.education-card>.track {
  font-size: calc(var(--multiplier) * 1.7);
}

.selected-header>.education-card>.major {
  font-size: calc(var(--multiplier) * 3.6);
}