/* COURSE LIST  */

.course-element {
  width: calc(var(--multiplier) * 27);
  height: calc(var(--multiplier) * 24);
}

.course-card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

 a {
   z-index: 3;
 }

 .course-card div {
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front-header {
  margin:
    calc(var(--multiplier) * 8.7) 
    calc(var(--multiplier) * 1.5) 
    calc(var(--multiplier) * 0) 
    calc(var(--multiplier) * 1.5);
  font-size: calc(var(--multiplier) * 2);
}

.course-card .front {
  text-align: center;
  word-wrap: break-word;
}

.course-card .back {
  transform: rotateY(180deg);
}

.course-header {
  margin:
    calc(var(--multiplier) * 1.6) 
    calc(var(--multiplier) * 1) 
    calc(var(--multiplier) * 0) 
    calc(var(--multiplier) * 1.6);
    font-size: calc(var(--multiplier) * 1.4);
  float: left;
}

.course-description {
  margin:
    calc(var(--multiplier) * 4) 
    calc(var(--multiplier) * 1.6) 
    calc(var(--multiplier) * 1.6) 
    calc(var(--multiplier) * 1.6);
    font-size: calc(var(--multiplier) * 1.4);
  align-content: center;
  overflow: hidden;

}

.languages {
  margin:
    calc(var(--multiplier) * 1.6) 
    calc(var(--multiplier) * 1.6) 
    calc(var(--multiplier) * 0) 
    calc(var(--multiplier) * 0);
    font-size: calc(var(--multiplier) * 1.4);
  float: right;
}

.course-card.flipped {
  transform: rotateY(180deg);
}

.course-front,
.course-back {
  height: 100%;
  width: 100%;
  position: absolute;
  /* backface-visibility: hidden; */
  /* -webkit-backface-visibility: hidden; */
}