/* COURSE LIST  */

.course-element {
  width: calc(var(--multiplier) * 27);
  height: calc(var(--multiplier) * 24);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front-header {
  margin:
  calc(var(--multiplier) * 8.7) 
  calc(var(--multiplier) * 1.5) 
  calc(var(--multiplier) * 0) 
  calc(var(--multiplier) * 1.5);
  font-size: calc(var(--multiplier) * 2);
}

.course-card .front {
  text-align: center;
  word-wrap: break-word;
}

.course-card .back {
  -o-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.course-header {
  margin:
  calc(var(--multiplier) * 1.6) 
  calc(var(--multiplier) * 1) 
  calc(var(--multiplier) * 0) 
  calc(var(--multiplier) * 1.6);
  font-size: calc(var(--multiplier) * 1.4);
  float: left;
}

.course-description {
  margin:
  calc(var(--multiplier) * 4) 
  calc(var(--multiplier) * 1.6) 
  calc(var(--multiplier) * 1.6) 
  calc(var(--multiplier) * 1.6);
  font-size: calc(var(--multiplier) * 1.4);
  align-content: center;
  overflow: hidden;
  
}

.languages {
  margin:
  calc(var(--multiplier) * 1.6) 
  calc(var(--multiplier) * 1.6) 
  calc(var(--multiplier) * 0) 
  calc(var(--multiplier) * 0);
  font-size: calc(var(--multiplier) * 1.4);
  float: right;
}

.course-card.flipped {
  -o-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.course-card {
  width: 100%;
  height: 100%;
  -moz-transition: transform 1s;
  -o-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

 .course-card div {
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: absolute;
}

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
}

.not-showing {
  visibility: hidden;
}