
 @font-face { font-family: nameFont; src: url('./../ARCADE_I.TTF'); } 
 
 .intro-card {    
    height: calc(var(--multiplier) * 6);
    width: calc(var(--multiplier) * 7);
    border: 3px solid red;
    color: red;
    border-radius: 10%;
    background-color: white;
}

.name {
    border: 15px solid black;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.name-container {
    overflow: hidden;
    position: relative;
    filter: contrast(120%) brightness(300%);
}

.name {
    position: relative;
    background: black;
    color: transparent;
    font-weight: 800;
    font-size: calc(var(--multiplier) * 35);
    font-family: 'nameFont', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.name::before, .name::after {
    content: attr(data-text);
    color: white;
    filter: blur(0.008em);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.name::after {
    mix-blend-mode: exclusion;
}

.gradient, .spotlight {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

.gradient {
    background: linear-gradient(45deg, rgb(80, 255, 246), rgb(255, 255, 255));
    mix-blend-mode: multiply;
}

.spotlight {
    animation: light 8s infinite linear;
    background: radial-gradient(circle, white, transparent 25%) 0 0 / 25% 25%, radial-gradient(circle, rgb(131, 105, 202), black 25%) 50% 50% / 12.5% 12.5%;
    top: -100%;
    left: -100%;
    mix-blend-mode: color-dodge;
}

#name-hide .hide {
    display: none;
}

.intro-card .hide {
    display: none;
}

@keyframes light {
    100% {
        transform: translate3d(50%, 50%, 0);
   }
}

















.container {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.container:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 2rem;
    height: 2rem;
    /* background: rgba(0, 0, 0, .25); */
    transform: rotate(45deg);
    /* outline: 10px solid rgba(0, 0, 0, .1); */
}

.container:nth-child(4n):before, .container:nth-child(7n):before {
    display: none;
}

.particle {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
}
.particle:nth-child(1) .sparcle {
    animation-delay: 0ms;
}
.particle:nth-child(2) .sparcle {
    animation-delay: 50ms;
}
.particle:nth-child(3) .sparcle {
    animation-delay: 100ms;
}
.particle:nth-child(4) .sparcle {
    animation-delay: 150ms;
}
.particle:nth-child(5) .sparcle {
    animation-delay: 200ms;
}
.particle:nth-child(6) .sparcle {
    animation-delay: 250ms;
}
.particle:nth-child(7) .sparcle {
    animation-delay: 300ms;
}
.particle:nth-child(8) .sparcle {
    animation-delay: 350ms;
}
.particle:nth-child(9) .sparcle {
    animation-delay: 400ms;
}
.particle:nth-child(10) .sparcle {
    animation-delay: 450ms;
}
.particle:nth-child(11) .sparcle {
    animation-delay: 500ms;
}
.particle:nth-child(12) .sparcle {
    animation-delay: 550ms;
}
.particle:nth-child(13) .sparcle {
    animation-delay: 600ms;
}
.particle:nth-child(14) .sparcle {
    animation-delay: 650ms;
}
.particle:nth-child(15) .sparcle {
    animation-delay: 700ms;
}
.particle:nth-child(16) .sparcle {
    animation-delay: 750ms;
}
.particle:nth-child(17) .sparcle {
    animation-delay: 800ms;
}
.particle:nth-child(18) .sparcle {
    animation-delay: 850ms;
}
.particle:nth-child(19) .sparcle {
    animation-delay: 900ms;
}
.particle:nth-child(20) .sparcle {
    animation-delay: 950ms;
}
.particle:nth-child(21) .sparcle {
    animation-delay: 1000ms;
}

.sparcle {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    background: rgba(228, 249, 250, 0);
    will-change: transform, box-shadow, background-color;
    transform: rotate(45deg) scale(0.5) translateZ(0);
    animation: explode 333ms;
    box-shadow: 0 0 0 0 #fde655;
}

@keyframes explode {
    0% {
        background-color: #e4f9fa;
        transform: rotate(45deg) scale(1.2) translateZ(0);
        box-shadow: 0 0 0 0 #fde655;
   }
    40% {
        background-color: rgba(228, 249, 250, .1);
   }
    50% {
        transform: rotate(45deg) scale(1) translateZ(0);
        box-shadow: 0 0 0 10px #8fff8b;
        background-color: rgba(228, 249, 250, 0);
   }
    60% {
        box-shadow: 0 0 0 50px #3dabff;
        transform: rotate(45deg) scale(0.5) translateZ(0);
   }
    70% {
        background-color: rgba(228, 249, 250, 0);
        box-shadow: 0 0 0 30px #3d8aff;
   }
    100% {
        background-color: #39ff39;
        box-shadow: 0 0 0 0 #0026ff;
        transform: rotate(45deg) scale(0.25) translateZ(0);
   }
}
