:root {
  --multiplier: 1rem; 
}


body {
  margin: 0;
  /* font-family: 'VT323', monospace; */
  font-family: 'IBM Plex Mono', monospace;
  overflow: hidden;
  /* background-color: black; */
}

#cssContainer, #glContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
}

#glContainer {
  pointer-events: none;
}
