html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;;
  overflow: hidden;
}

#menu {
  position: fixed;
  width: 100%;
  text-align: center;
}


/* COURSE LIST AND EDUCATION */

.element {
  width: 370px;
  height: 140px;
  box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
  border: 2px solid rgba(127,255,255,0.25);
  color: rgba(127,255,255,0.75);
  text-align: left;
  cursor: default;
  position: absolute;
  background-color: blue;
  top: 2px;
  right: 2px;
  font-size: 12px;
}

.element:hover {
  box-shadow: 0px 0px 12px #ad2797bf;
  border: 3px solid rgba(127,255,255,0.75);
}

.name {
  position: absolute;
  top: 30px;
  left: 5px;
  right: 5px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(255,255,255,0.75);
  text-shadow: 0 0 10px rgba(0,255,255,0.95);
}

.header {
    top: 10px;
    left: 5px;
    right: 5px;
    position: absolute;
    font-size: 11px;
    color: rgba(127,255,255,0.75);
}
  
.element, .details {
  position: absolute;
  left: 4px;
  right: 4px;
  font-size: 10px;
  color: rgba(127,255,255,0.75);
}

.details {
    top: 55px;
}
.name, .details, .header{
    padding: 3px;
    margin: 3px;
    border: 3px;
    right: 3px;
}

button {
  background: transparent;
  color: rgba(127,255,255,0.75);
  outline: 1px solid rgba(127,255,255,0.75);
  border: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0,255,255,0.5);
}

button:active {
  color: #000000;
  background-color: rgba(0,255,255,0.75);
}


/* WORK HISTORY TIMELINE */

.work-card {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotatey(0deg) translatex(0px) translatey(0px);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
  margin: 5px;
  cursor: pointer;
}
.work-card:hover {
  transform: rotatey(45deg) translatex(0px) translatey(0px);
}
.work-card .open {
  width: 800px;
  height: 400px;
  transform: rotatey(-180deg) translatex(0px) translatey(0px);
  top: 300px;
  left: 300px;
}
.work-card .front-facing {
  transform: rotateY(0deg) translateZ(2px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ecf0f1;
  border: 2px white solid;
  border-radius: 5px;
}
.work-card .front-facing .jobTitle {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 32px;
  margin: -75px 0 0 0;
  text-align: center;
  color: #3498db;
}
.work-card .front-facing .title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  text-transform: uppercase;
  font-size: 12px;
  margin: 55px 0 0 0;
  text-align: center;
  color: #3498db;
}

.work-card .back-facing {
  transform: rotateY(180deg) translateZ(0px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ecf0f1;
  border: 2px white solid;
  border-radius: 5px;
  padding: 30px;
  overflow: hidden;
}
.work-card .back-facing p {
  font-size: 15px;
  margin: 0;
}

.work-tools {
 list-style: none;
 position: absolute;
 top: 350px;
 left: -10px;
}

.work-tools li {
 display: inline-block;
 padding: 5px 5px;
 border-right: 2px solid;
 padding: 5px 5px;
 line-height: 4px;
}

.work-tools li:last-child {
 border-right: none;
}

