:root {
    --all-color: white;
    --educ-color: white;
    --computer-color: rgba(255, 252, 180, 0.8);
    --math-color:  rgba(255, 252, 180, 0.8);
    --econ-color:  rgba(255, 252, 180, 0.8);

    --workDefault-color: white;
    --intern-color: white;
    --matops-color:  white;
    --contract-color: white;
} 

/* EDUCATION */
.education-main-color, 
.computer-header-color,
.math-header-color,
.econ-header-color,
.computer-color,
.math-color,
.econ-color, 
.workDefault-color,
.intern-color,
.matops-color,
.contract-color, 
.lab-color,
.bioDefault-color {
    box-shadow: 0 0 calc(var(--multiplier) * 2) var(--all-color);
    border: calc(var(--multiplier) * .1) solid var(--all-color);
    color: var(--all-color);
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 0 calc(var(--multiplier) * .7) rgba(255,255,255,.8),
                 0 0 calc(var(--multiplier) * 1.2) rgba(255,255,255,.8);
}
