:root {
    --all-color: white;
    --educ-color: white;
    --computer-color: rgba(255, 252, 180, 0.8);
    --math-color:  rgba(255, 252, 180, 0.8);
    --econ-color:  rgba(255, 252, 180, 0.8);

    --workDefault-color: white;
    --intern-color: rgba(218, 0, 0, 0.8);
    --matops-color:  rgba(218, 0, 0, 0.8);
    --contract-color: rgba(218, 0, 0, 0.8);
} 

/* EDUCATION */
.education-main-color, 
.computer-header-color,
.math-header-color,
.econ-header-color,
.computer-color,
.math-color,
.econ-color, 
.workDefault-color,
.intern-color,
.matops-color,
.contract-color, 
.bio-default-color {
    box-shadow: 0px 0px 12px var(--all-color);
    border: calc(var(--multiplier) * .1) solid var(--all-color);
    color: var(--all-color);
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 0 calc(var(--multiplier) * .7) rgba(255,255,255,.8),
                 0 0 calc(var(--multiplier) * 1.2) rgba(255,255,255,.8);
}

/* .computer-header-color div button,
.math-header-color div button,
.econ-header-color div button {
    display: hidden;
} */

.workDefault-timeline-color div h2,
.workDefault-timeline-color div h3, 
.workDefault-timeline-color div h4 {
    color: black;
    box-shadow: 2px solid var(--all-color);
    background-color: rgba(0, 0, 0, .7);
}

.workDefault-timeline-color div {
    box-shadow: 0px 0px 12px var(--all-color);
    border: 2px solid var(--all-color);
}

.education-main-color-active, 
.education-main-color-active .educ-button {
    color: var(--educ-color);
    box-shadow: 0 0 calc(var(--multiplier) * 2) var(--educ-color);
    border:  calc(var(--multiplier) * .2) solid var(--educ-color);
    text-shadow: 0 0 4px rgba(255,255,255,.8),
                 0 0 8px rgba(255,255,255,.8),
                 0 0 12px rgba(55,255,255,.8);
}

.computer-color-active,
.computer-header-color-active,
.computer-header-color-active .educ-button {
    color: var(--computer-color);
    box-shadow: 0 0 calc(var(--multiplier) * 2) var(--computer-color);
    border:  calc(var(--multiplier) * .2) solid var(--computer-color);
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}


.math-color-active,
.math-header-color-active,
.math-header-color-active .educ-button {
    color: var(--math-color);
    box-shadow: 0 0 calc(var(--multiplier) * 2) var(--math-color);
    border:  calc(var(--multiplier) * .2) solid var(--math-color);
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}

.econ-color-active,
.econ-header-color-active,
.econ-header-color-active .educ-button {
    color: var(--econ-color);
    box-shadow: 0 0 calc(var(--multiplier) * 2) var(--econ-color);
    border:  calc(var(--multiplier) * .2) solid var(--econ-color);
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}

 
.econ-header-color-active {

  }







/* WORK HISTORY */

/* WORK DEFAULT */
.workDefault-color-active {
    color: var(--workDefault-color);
    box-shadow: 0 0 calc(var(--multiplier) * 2) var(--workDefault-color);
    border:  calc(var(--multiplier) * .2) solid var(--workDefault-color);
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}

.workDefault-timeline-color-active div {
    text-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: calc(var(--multiplier) * 0.8) solid var(--workDefault-color);
}

.workDefault-timeline-color-active div h2,
.workDefault-timeline-color-active div h3, 
.workDefault-timeline-color-active div h4 {
    color: rgb(255, 255, 255);
}

/* INTERN */
.intern-color-active {
    color: var(--intern-color);
    box-shadow: 0 0 calc(var(--multiplier) * 2) var(--intern-color);
    border:  calc(var(--multiplier) * .2) solid var(--intern-color);
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}

.intern-timeline-color-active div {
    text-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: calc(var(--multiplier) * 0.8) solid var(--intern-color);
}

/* MATOPS */
.matops-color-active {
    color: var(--matops-color);
    box-shadow: 0 0 calc(var(--multiplier) * 2) var(--matops-color);
    border:  calc(var(--multiplier) * .2) solid var(--matops-color);
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}

.matops-timeline-color-active div {
    text-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: calc(var(--multiplier) * 0.8) solid var(--matops-color);
}

/* CONTRACT */
.contract-color-active { 
    color: var(--contract-color);
    box-shadow: 0 0 calc(var(--multiplier) * 2) var(--contract-color);
    border:  calc(var(--multiplier) * .2) solid var(--contract-color);
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}

.contract-timeline-color-active div {
    text-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: calc(var(--multiplier) * 0.8) solid var(--contract-color);
}











/* BIO */
.bio-default-color {
    /* color: var(--contract-color);
    box-shadow: 0 0 calc(var(--multiplier) * 2) var(--contract-color);
    border:  calc(var(--multiplier) * .2) solid var(--contract-color);
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2); */
}



































.tool-container { 
    background-color: transparent;
} 