/* WORK HISTORY TIMELINE */
.work-top-name {
    color: rgba(255, 255, 255, 0.75);
    font-size: calc(var(--multiplier) * 3);
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
    color: rgba(127, 255, 255, 0.75);
    margin: 
        calc(var(--multiplier) * 2)
        calc(var(--multiplier) * 0)
        calc(var(--multiplier) * 2)
        calc(var(--multiplier) * 3);
        float: left;
}

.work-top-span {
    color: rgba(255, 255, 255, 0.75);
    font-size: calc(var(--multiplier) * 2);
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
    color: rgba(127, 255, 255, 0.75);
    margin: 
        calc(var(--multiplier) * 2.5)
        calc(var(--multiplier) * 3)
        calc(var(--multiplier) * 3)
        calc(var(--multiplier) * 0);
    float: right;
}

.work-name, .tools-header {
    color: rgba(255, 255, 255, 0.75);
    font-size: calc(var(--multiplier) * 2);
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
    color: rgba(127, 255, 255, 0.75);
    margin: 
        calc(var(--multiplier) * 2)
        calc(var(--multiplier) * 3)
        calc(var(--multiplier) * 0)
        calc(var(--multiplier) * 3);
}

.work-details {
    margin: 
        calc(var(--multiplier) * 1)
        calc(var(--multiplier) * 3)
        calc(var(--multiplier) * 2)
        calc(var(--multiplier) * 3);
    font-size: calc(var(--multiplier) * 1.8);
    color: rgba(127, 255, 255, 0.75);
}

.work-header-element {
    width: calc(var(--multiplier) * 120);
    height: calc(var(--multiplier) * 8);
    box-shadow: 0 0 calc(var(--multiplier) * .2) rgba(0, 255, 255, 0.5);
    border: calc(var(--multiplier) * .2) solid rgba(127, 255, 255, 0.25);
    color: rgba(127, 255, 255, 0.75);
    text-align: left;
    background-color: rgba(0, 0, 0, .8);
}

.work-element {
    width: calc(var(--multiplier) * 95);;
    height: calc(var(--multiplier) * 50);
    box-shadow: 0 0 calc(var(--multiplier) * .2) rgba(0, 255, 255, 0.5);
    border: calc(var(--multiplier) * .2) solid rgba(127, 255, 255, 0.25);
    background-color: rgba(0, 0, 0, .8);
}

.work-tools li {
    display: inline-block;
    padding: calc(var(--multiplier) * .5);
    line-height: calc(var(--multiplier) * 1);
}


/* BUTTONS AND ICONS */
.flex-center {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-3d {
    padding: calc(var(--multiplier) * 0.3);
    -webkit-animation: icon3d 200ms 10;
    animation: icon3d 200ms 10;
    color: #fff;
    color:rgba(0, 255, 255, 0.95);
    -webkit-animation: icon3d 400ms infinite;
    animation: icon3d 400ms infinite;
}

.icon-3d:hover {
    -webkit-animation: none;
    animation: none;
    cursor: pointer;
}

@keyframes icon3d {
    0% {
        text-shadow: 5px 4px rgba(244, 67, 54, 1), -5px -6px rgba(33, 150, 243, 1);
   }
    25% {
        text-shadow: -5px -6px rgba(244, 67, 54, 1), 5px 4px rgba(33, 150, 243, 1);
   }
    50% {
        text-shadow: 5px -4px rgba(244, 67, 54, 1), -8px 4px rgba(33, 150, 243, 1);
   }
    75% {
        text-shadow: -8px -4px rgba(244, 67, 54, 1), -5px -4px rgba(33, 150, 243, 1);
   }
    100% {
        text-shadow: -5px 0 rgba(244, 67, 54, 1), 5px -4px rgba(33, 150, 243, 1);
   }
}

/* TOOLS */

.hide {
    display: none;
}

.tool-row {
    width: calc(var(--multiplier) * 28);
}

ul img {
    max-height: calc(var(--multiplier) * 6);
    max-width: calc(var(--multiplier) * 6);
    padding-right: calc(var(--multiplier) * 1);
    margin-right: calc(var(--multiplier) * 1);
    float: left;
    background: transparent;
}

.powerbi, .powerapps, .numpy {
    filter: brightness(0);
    filter: invert(1);
}

.pandas {
    filter: brightness(100);
    filter: invert(1);
}

.powerapps {
    margin-top: calc(var(--multiplier) * 1);
}

.tool-row div {
    width: calc(var(--multiplier) * 19);
    float: right;
}

.tool-row li {
    width: calc(var(--multiplier) * 1);
    height: calc(var(--multiplier) * 2.5);
    border-right: calc(var(--multiplier) * .14) solid black;
    margin-top: calc(var(--multiplier) * 1.1);
    cursor: pointer;
}

.tool-row li:hover {
    opacity: 0.5;
}

.tool-row .active {
    background-color: rgb(28, 232, 247);
}

.tool-container { 
    width: calc(var(--multiplier) * 23.5);
    height: calc(var(--multiplier) * 50);
    background-color: transparent;
    box-shadow: 0px 0px 3px rgba(0, 255, 255, 0.5);
    border: 4px solid rgba(127, 255, 255, 0.25);
}

/* WORK DEFAULT VIEW */

.work-default {
    background-color: transparent;
    box-shadow: 0 0 calc(var(--multiplier) * .2) rgba(0, 255, 255, 0.5);
    border: calc(var(--multiplier) * .2) solid rgba(127, 255, 255, 0.25);
}

#dataAnalysis img,
#computer img
 {
    width: calc(var(--multiplier) * 25);
    max-height: calc(var(--multiplier) * 30);
    box-shadow: none; 
    border: none; 
    filter: brightness(100);
    filter: invert(1);
}

#thusfar {
    width: calc(var(--multiplier) * 121);
    height: calc(var(--multiplier) * 6);
}

#been, #going {
    width: calc(var(--multiplier) * 80);
    height: calc(var(--multiplier) * 27.5);
}

.work-default-description {
    font-weight: 800;
    text-align: center;
    font-size: 30px;
    color: rgba(0, 255, 255, 0.95);
}

.tool-img-default {
    width: calc(var(--multiplier) * 8);
}


/* TIMELINE */

.timelines-years {
    position: absolute;
    margin: calc(var(--multiplier) * 21) 0 0 0;
    white-space: nowrap;
    width: calc(var(--multiplier) * 98);
    border-top: 4px solid rgba(0, 255, 255, 0.95);
    list-style: none;
}

.tyears {
    font-size: calc(var(--multiplier) * 2);
    margin: 0 calc(var(--multiplier) * 14.5);
    color: #e4d7d7;
    text-align: center;
    display: inline-block;
}

.timeline-events {
    overflow-wrap: break-word;
    height: calc(var(--multiplier) * 9);
    margin: calc(var(--multiplier) * 6) calc(var(--multiplier) * 1) calc(var(--multiplier) * 1) 0 ;
}

.timeline-events h2 {
    font-size: calc(var(--multiplier) * 1.2);
    margin: calc(var(--multiplier) * 1) calc(var(--multiplier) * 1) 0 calc(var(--multiplier) * 1);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.timeline-events h3 {
    font-size: calc(var(--multiplier) * 1.7);
    margin: 0 calc(var(--multiplier) * 1);
    color:rgba(0, 255, 255, 0.95);
}

.timeline-events h4 {
    color: rgb(255, 255, 255);
    margin: 0 calc(var(--multiplier) * 1) calc(var(--multiplier) * 1) calc(var(--multiplier) * 1);
    font-size: calc(var(--multiplier) * 1.9);
    font-style: italic;
}

.timeline-events div {
    position: relative;
    border-bottom: calc(var(--multiplier) * 0.8) solid rgba(0, 255, 255, 0.95);
    border-radius: 2px;
    display: inline-block;
    transition: margin 1s, top 1s;
}

.timeline-months-3 {
    width: calc(var(--multiplier) * 9);
    height: calc(var(--multiplier) * 10);
    margin-bottom: calc(var(--multiplier) * 3.1);
}

.timeline-months-5{
    width: calc(var(--multiplier) * 14);
    margin-bottom: calc(var(--multiplier) * 5);
}

.timeline-months-7{
    width: calc(var(--multiplier) * 19);
    margin-bottom: calc(var(--multiplier) * 5);
}

.timeline-months-13 {
    width: calc(var(--multiplier) * 37);
    margin-bottom: calc(var(--multiplier) * 5);
}

#home-button div {
    border-bottom: 0 solid rgba(0, 255, 255, 0.95);;
}

.selected-timeline div{
    border-top: calc(var(--multiplier) * 0.3) solid rgba(0, 255, 255, 0.95);;
    margin-top: calc(var(--multiplier) * -2);
}

#home-button h4 {
    margin: calc(var(--multiplier) * 1) calc(var(--multiplier) * 1) 0 calc(var(--multiplier) * 1);
}


/* TYPEWRITERS */

#data-code p,
#comp-code p {
    font-size: calc(var(--multiplier) * 1.9);
    color: rgb(255, 255, 255);
    margin: calc(var(--multiplier) * 1.5);
}

#data-code,
#comp-code {
    width: calc(var(--multiplier) * 36);
    height: calc(var(--multiplier) * 27);
    border: 3px solid red;
}



.typewriter p {
    border-right: .15em solid orange;
    font-family: "Courier";
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
  }
  .typewriter p:nth-child(1) {
    width: 7.3em;
    animation: type3 5s steps(20, end), blink .5s step-end alternate;
    animation-fill-mode: forwards;
  }
  
  .typewriter p:nth-child(2) {
    width: 11.5em;
    opacity: 0;
    animation: type3 5s steps(20, end), blink .5s step-end alternate;
    animation-delay: 6s;
    animation-fill-mode: forwards;
  }
  
  .typewriter p:nth-child(3) {
    width: 7.3em;
    opacity: 0;
    animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
    animation-delay: 12s;
    animation-fill-mode: forwards;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }