/* WORK HISTORY TIMELINE */
.work-top-name {
    font-size: calc(var(--multiplier) * 3);
    margin:
        calc(var(--multiplier) * 2) calc(var(--multiplier) * 0) calc(var(--multiplier) * 2) calc(var(--multiplier) * 3);
    float: left;
}

.work-top-span {
    font-size: calc(var(--multiplier) * 2);
    margin:
        calc(var(--multiplier) * 2.5) calc(var(--multiplier) * 3) calc(var(--multiplier) * 3) calc(var(--multiplier) * 0);
    float: right;
}

.work-name,
.tools-header {
    font-size: calc(var(--multiplier) * 2);
    margin:
        calc(var(--multiplier) * 2) calc(var(--multiplier) * 3) calc(var(--multiplier) * 0) calc(var(--multiplier) * 3);
}

.work-details {
    margin:
        calc(var(--multiplier) * 1) calc(var(--multiplier) * 3) calc(var(--multiplier) * 2) calc(var(--multiplier) * 3);
    font-size: calc(var(--multiplier) * 1.8);
}

.work-header-element {
    width: calc(var(--multiplier) * 20);
    height: calc(var(--multiplier) * 20);
    text-align: left;
    background-color: rgba(0, 0, 0, .8);
    overflow: hidden;
    transition: height 1s, width 1s;
}

.work-element {
    width: calc(var(--multiplier) * 20);
    height: calc(var(--multiplier) * 20);
    overflow: hidden;
    transition: height 1s, width 1s;
}

.work-element.intern-color-active,
.work-element.matops-color-active,
.work-element.contract-color-active {
    width: calc(var(--multiplier) * 95);
    height: calc(var(--multiplier) * 50);
}

.work-tools li {
    display: inline-block;
    padding: calc(var(--multiplier) * .5);
    line-height: calc(var(--multiplier) * 1);
}

.work-header-element.intern-color-active,
.work-header-element.matops-color-active,
.work-header-element.contract-color-active {
    width: calc(var(--multiplier) * 120);
    height: calc(var(--multiplier) * 8);
}


/* BUTTONS AND ICONS */
.flex-center {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-3d {
    padding: calc(var(--multiplier) * 0.3);
    -webkit-animation: icon3d 200ms 10;
    animation: icon3d 200ms 10;
    color: #fff;
    color: rgba(0, 255, 255, 0.95);
    -webkit-animation: icon3d 400ms infinite;
    animation: icon3d 400ms infinite;
}

.icon-3d:hover {
    -webkit-animation: none;
    animation: none;
    cursor: pointer;
}

@keyframes icon3d {
    0% {
        text-shadow: 5px 4px rgba(244, 67, 54, 1), -5px -6px rgba(33, 150, 243, 1);
    }

    25% {
        text-shadow: -5px -6px rgba(244, 67, 54, 1), 5px 4px rgba(33, 150, 243, 1);
    }

    50% {
        text-shadow: 5px -4px rgba(244, 67, 54, 1), -8px 4px rgba(33, 150, 243, 1);
    }

    75% {
        text-shadow: -8px -4px rgba(244, 67, 54, 1), -5px -4px rgba(33, 150, 243, 1);
    }

    100% {
        text-shadow: -5px 0 rgba(244, 67, 54, 1), 5px -4px rgba(33, 150, 243, 1);
    }
}

/* TOOLS */

.hide {
    display: none;
}

.tool-row {
    width: calc(var(--multiplier) * 28);
}

ul img {
    max-height: calc(var(--multiplier) * 6);
    max-width: calc(var(--multiplier) * 6);
    padding-right: calc(var(--multiplier) * 1);
    margin-right: calc(var(--multiplier) * 1);
    float: left;
    background: transparent;
}

.powerbi,
.powerapps,
.numpy {
    filter: brightness(0);
    filter: invert(1);
}

.pandas {
    filter: brightness(100);
    filter: invert(1);
}

.powerapps {
    margin-top: calc(var(--multiplier) * 1);
}

.tool-row div {
    width: calc(var(--multiplier) * 19);
    float: right;
}

.tool-row li {
    width: calc(var(--multiplier) * 1);
    height: calc(var(--multiplier) * 2.5);
    border-right: calc(var(--multiplier) * .14) solid black;
    margin-top: calc(var(--multiplier) * 1.1);
    cursor: pointer;
}

.tool-row li:hover {
    opacity: 0.5;
}

.tool-row .active {
    background-color: rgb(28, 232, 247);
}

.tool-container {
    width: calc(var(--multiplier) * 20);
    height: calc(var(--multiplier) * 20);
    background-color: transparent;
    transition: width 1s, height 1s;
}

.tool-container.intern-color-active,
.tool-container.matops-color-active,
.tool-container.contract-color-active {
    width: calc(var(--multiplier) * 23.5);
    height: calc(var(--multiplier) * 50);
}


/* WORK DEFAULT VIEW */

#dataAnalysis img,
#computer img {
    width: calc(var(--multiplier) * 25);
    max-height: calc(var(--multiplier) * 30);
    box-shadow: none;
    border: none;
    filter: brightness(100);
    filter: invert(1);
}

#thusfar {
    width: calc(var(--multiplier) * 20);
    height: calc(var(--multiplier) * 20);
    transition: height 1s, width 1s;
}

#thusfar.workDefault-color-active,
#thusfar.workDefault-color-active {
    width: calc(var(--multiplier) * 121);
    height: calc(var(--multiplier) * 6);
}

#been,
#going {
    width: calc(var(--multiplier) * 20);
    height: calc(var(--multiplier) * 20);
    transition: width 1s, height 1s;
}

#been.workDefault-color-active,
#going.workDefault-color-active {
    width: calc(var(--multiplier) * 80);
    height: calc(var(--multiplier) * 27.5);
}

.workDefault-description {
    font-weight: 800;
    text-align: center;
    font-size: 30px;
}

.tool-img-default {
    width: calc(var(--multiplier) * 8);
}


/* TIMELINE */

.timelines-years {
    position: absolute;
    margin: calc(var(--multiplier) * 21) 0 0 0;
    white-space: nowrap;
    width: calc(var(--multiplier) * 98);
    border-top: 4px solid rgba(0, 255, 255, 0.95);
    list-style: none;
}

.tyears {
    font-size: calc(var(--multiplier) * 2);
    margin: 0 calc(var(--multiplier) * 14.5);
    color: #e4d7d7;
    text-align: center;
    display: inline-block;
}

.timeline-events {
    overflow-wrap: break-word;
    height: calc(var(--multiplier) * 9);
    margin: calc(var(--multiplier) * 6) calc(var(--multiplier) * 1) calc(var(--multiplier) * 1) 0;
}

.timeline-events h2 {
    font-size: calc(var(--multiplier) * 1.15);
    margin: calc(var(--multiplier) * 1) calc(var(--multiplier) * 1) 0 calc(var(--multiplier) * 1);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.timeline-events h3 {
    font-size: calc(var(--multiplier) * 1.1);
    margin: 0 calc(var(--multiplier) * 1);
    /* color:rgba(0, 255, 255, 0.95); */
}

.timeline-events h4 {
    color: rgb(255, 255, 255);
    margin: 0 calc(var(--multiplier) * 1) calc(var(--multiplier) * 1) calc(var(--multiplier) * 1);
    font-size: calc(var(--multiplier) * 1.55);
    font-style: italic;
}

.timeline-events div {
    position: relative;
    border-radius: 2px;
    display: inline-block;
    transition: margin 1s, top 1s;
}

.timeline-months-3 {
    width: calc(var(--multiplier) * 9);
    height: calc(var(--multiplier) * 10);
    margin-bottom: calc(var(--multiplier) * 3.1);
}

.timeline-months-5 {
    width: calc(var(--multiplier) * 14);
    margin-bottom: calc(var(--multiplier) * 5);
}

.timeline-months-7 {
    width: calc(var(--multiplier) * 19);
    margin-bottom: calc(var(--multiplier) * 5);
}

.timeline-months-13 {
    width: calc(var(--multiplier) * 37);
    margin-bottom: calc(var(--multiplier) * 5);
}

#workDefault-button div {
    /* border-bottom: 0 solid rgba(0, 255, 255, 0.95);; */
}

.selected-timeline div {
    /* border-top: calc(var(--multiplier) * 0.3) solid rgba(0, 255, 255, 0.95);; */
    margin-top: calc(var(--multiplier) * -2);
}

#workDefault-timeline-event h4 {
    margin: calc(var(--multiplier) * 1) calc(var(--multiplier) * 1) 0 calc(var(--multiplier) * 1);
}


/* TYPEWRITERS */

#data-code p,
#comp-code p {
    font-size: calc(var(--multiplier) * 1.4);
    color: rgb(255, 255, 255);
}

#data-code,
#comp-code {
    width: calc(var(--multiplier) * 20);
    height: calc(var(--multiplier) * 20);
    padding: calc(var(--multiplier) * 1.5);
    transition: width 1s, height 1s;
}

#data-code.workDefault-color-active,
#comp-code.workDefault-color-active {
    width: calc(var(--multiplier) * 36);
    height: calc(var(--multiplier) * 27);
}